.header .emaJohn_logo{
    height: 80px;
    margin: 15px  auto ;
}
.header{
    text-align: center;
}
.header nav{
    line-height: 50px;
    background-color: black;
    font-size: 20px;
    text-align: start;
    
}

nav .link_item{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    padding: 5px;
}
nav .link_item:hover{
    background-color: gray;
}
nav .user_img{
    height: 40px !important;
    border-radius: 50%;
    margin-left: 40px !important;
    margin-bottom: -12px;
}